@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: merriweather-sans, sans-serif;
  font-weight: 300;
  color: #0C3C60;
}

/* heading and logo */

h1,
h2,
h3 {
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #0C3C60;
  padding-bottom: 20px;
}

h4 {
  font-family: raleway, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: #0C3C60;
  padding-bottom: 20px;
}

h5,
h6 {
  font-family: raleway, sans-serif;
  color: #0C3C60;
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 20px;

}


p {
  font-family: raleway, sans-serif;
  color: slategray;
  padding-bottom: 20px
}

.href {text-decoration: none;
  color: inherit;}
  

/* ordered lists */

li {
  list-style-position: inside;
  font-family: raleway, sans-serif;
  color: slategray;
  padding-bottom: 20px;
}

/* logo */
.logo {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 15px;
  float: left;
}

/* navigation links */
#menu {
  font-size: 80%;
  letter-spacing: 6px;
  background-color: #fff;
  vertical-align: top;
}

#menu,
menu ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

#menu,
#menu li {
  list-style-type: none;
  margin-right: 40px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border: 1px solid #85C5D4;
  padding: 10px;
}

.active {
  border: 1px solid #85C5D4;
  padding: 10px;
}

/* hero image */

#hero-image {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/polar-ice-caps-melting.jpg) no-repeat center center;
}

#hero-image-climate-justice {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/flooding-india.jpg) no-repeat center center;
}

#hero-image-oil-refinery {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/oil-refinery.jpg) no-repeat center center;
}

#hero-image-protest {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/protest) no-repeat center center;
}

#hero-image-hope {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/protest.jpg) no-repeat center center;
}

#hero-image-inspiration {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/after-forest-fire.jpg) no-repeat center center;
}

#hero-image-truth {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/after-forest-fire.jpg) no-repeat center center;
}

/* #hero-quote {
  font-size: 200%;
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align-last: center;

  width: 600px;
  height: 250px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(12, 60, 96, 255, .7);

  top: 80px;
  left: 650px;

  position: absolute;
} */

/* home */

.introduction {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}

.small-left-large-right {
  display: block;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}

#left-about {
  padding-top: 30px;
  padding-left: 100px;
  width: 25%;
  float: left;
}

#right-about {
  padding-top: 30px;
  padding-right: 100px;
  width: 50%;
  float: right;
}

/* footprint */
#carbon-neutral-about {
  padding-top: 30px;
  padding-left: 0px;
  width: 45%;
  float: left;
}

#net-zero-about {
  padding-top: 30px;
  padding-right: 100px;
  width: 45%;
  float: right;
}

/* .quote {
  height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
} */

/*  */
.awareness-six {
  padding-left: 90px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.column {
  float: left;
  flex-wrap: wrap;
  width: 31%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: white;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  border: 1px solid #85C5D4;
  padding: 10px;
}

/* test */


/* @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  } */

/* facts */
#facts {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

#facts li {
  list-style-position: inside;
  font-family: raleway, sans-serif;
  color: slategray;
  padding-bottom: 20px;
}

/* un */
.un {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 70px;
  text-align: left;
  background-color: white;
}

/* images home page */

/* .flex-grid-home {
  display: block;
  padding-left: 110px;
}

.col-home {
  float: left;
  width: 5%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
} */



/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

/* .awareness-six {
  padding-left: 110px;
  padding-right: 110px;
} */

/* un sdg's */

#sdg {

  clear: both;
  line-height: 0;
  column-count: 5;
  column-gap: 0;
  margin: 0;
  padding: 0;
}

#sdg a {
  display: flex;
  flex: wrap;
  height: auto;
  width: auto;
  margin: none;
  padding: none;
  box-sizing: inherit;
}

#sdg img {
  width: 100%;
  height: 250px;
}


/* awareness pages */


/* #inspire {
  padding-top: 30px;
  padding-right: 150px;
  width: 33%;
  float: left;
} */

/* ordered lists */
li {
  list-style-position: inside;
}

/* footer image */

#footer-image {
  height: 300px;
}


/* footer */

.emailSignup {
  display: block;
  background: #0C3C60;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

.emailSignup h2 {
  font-size: 32px;
  margin: 0 0 10px;
  color: #FFFFFF;
}

/* .emailSignup p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #D3D3D3;
} */

.emailSignup form {
  text-align: center;
}

.emailSignup--email-input {
  border: 0;
  outline: 0;
  width: 50%;
  height: 46px;
  line-height: 46px;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
}

.emailSignup--email-submit {
  border: 0;
  width: 18%;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: bold;
  background: #85C5D4;
  color: #FFFFFF;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 1px #85C5D4;
}

.closeBox {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 9999px;
  cursor: pointer;
}

/* grid */

.flex-grid {
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.col {
  float: left;
  width: 16%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* hope */



/* hope */
/* #hope-about {
  padding-top: 30px;
  padding-left: 0px;
  width: 15%;
  float: left;
} */

/* #blog-about {
  padding-top: 30px;
  padding-right: 100px;
  width: 25%;
  float: right; */

.container {
  border: 1px solid #0C3C60;
  padding: 20px;
  max-width: 650px;
  display: flex;}
  .image {
    padding: 20px;
    width: 200px;
    object-fit: contain;
    align-self: flex-start;
  }
  .text {
    text-align: right;
  }

.container-hope {
  border: 1px solid #0C3C60;
  padding: 20px;
  max-width: 300px;
  display: flex;}
  .image {
    padding: 10px;
    width: 100px;
    object-fit: contain;
    justify-content: center;
   flex-direction: column;
  }
  text {
    text-align: right;
    justify-content: center;
   flex-direction: column;
  } */


#column-hope {
  float: left;
  flex-wrap: wrap;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: white;
}

#column-hope {
  float: left;
  flex-wrap: wrap;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: white;
}

#left-hope {
  float: left;
}

#right-hope {
  float: right;}