@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: merriweather-sans, sans-serif;
    font-weight: 300;
    color: #0C3C60;
}

/* heading and logo */

h1, h2, h3 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #0C3C60;
}

#logo {
    font-size: 150%;
    float: left;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 6px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1px solid #85C5D4;
    padding: 10px;
}

.active {
    border: 1px solid #85C5D4;
    padding: 10px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/polar-ice-caps-melting.jpg) no-repeat center center;
}

#hero-quote {
    font-size: 200%;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align-last: center;

    width: 600px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(12, 60, 96, 255, .7);

    top: 80px;
    left: 650px;

    position: absolute;
}

/* about */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: white;
  }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
    
  .button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #0C3C60;
    text-align: center;

  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* awareness */

#awareness-about {

    font-family: raleway, sans-serif;
    text-transform: uppercase;
    text-align-last: center;

    
    width: 1200px;
    height: 250px;

    border-bottom: 30px;

}

#awareness {
    padding-top: 30px;
    width: 16.6%;
    float:left
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* un sdg's */

#sdg {
    clear: both;
    line-height: 0;
    column-count: 6;
    column-gap: 0;
}

#sdg > img {
    width: 100%;
}
