@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: merriweather-sans, sans-serif;
    font-weight: 300;
    color: #0C3C60;
}

/* heading and logo */

h1, h2, h3 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #0C3C60;
}

/* logo */
#logo {
    font-size: 150%;
    float: left;
    margin-left: 40px;
}

/* navigation links */
#menu {
    font-size: 80%;
    letter-spacing: 6px;
    background-color: #fff;
}

/*  */
  ul {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    float: left;
  }

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1px solid #85C5D4;
    padding: 10px;
}

.active {
    border: 1px solid #85C5D4;
    padding: 10px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(../images/hero-images/polar-ice-caps-melting.jpg) no-repeat center center;
}

#hero-image-climate-justice {
  height: 600px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/extreme-drought.jpg) no-repeat center center;
}

#hero-quote {
    font-size: 200%;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align-last: center;

    width: 600px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(12, 60, 96, 255, .7);

    top: 80px;
    left: 650px;

    position: absolute;
}

/* about */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: white;
  }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
    
  .button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #0C3C60;
    text-align: center;

  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* awareness */

#awareness-about {

    font-family: raleway, sans-serif;
    text-transform: uppercase;
    text-align-last: center;

    
    width: 1200px;
    height: 250px;

    border-bottom: 30px;

}

#awareness {
    padding-top: 30px;
    width: 16.6%;
    float:left
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* un sdg's */

#sdg {

    clear: both;
    line-height: 0;
    column-count: 5;
    column-gap: 0;
    margin: 0;
    padding: 0;
}

#sdg a {
    height: auto;
    width: auto;
    margin: none;
    padding: none;
    box-sizing: inherit;
}

#sdg img {
    width: 100%;
    height: 250px;
}

/* .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
  .wrap li {
    background: gold;
  }
  
  .wrap-reverse         { 
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }  
  .wrap-reverse li {
    background: deepskyblue;
  }
  
  .flex-item {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  } */

  /* Inspiration */

  /* footer */

  .emailSignup {
    display: block;
    background: #313131;
    width: 100%;
    margin: 0 0 20px;
    position: relative;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
  }
  .emailSignup h2 {
    font-size: 32px;
    margin: 0 0 10px;
    color: #FFFFFF;
  }
  .emailSignup p {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 20px;
    color: #D3D3D3;
  }
  .emailSignup form {
    text-align:center;
  }
  .emailSignup--email-input {
    border: 0;
    outline: 0;
    width: 50%;
    height: 46px;
    line-height: 46px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 3px;
  }
  .emailSignup--email-submit {
    border: 0;
    width: 18%;
    height: 46px;
    line-height: 46px;
    font-size: 22px;
    font-weight: bold;
    background: #0099FF;
    color: #FFFFFF;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #0084DB;
  }
  .closeBox {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 9999px;
    cursor: pointer;
  }

  /* climate justice */
/* #club-ethos {
  height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background-color: red;
    height: 100%;
    border-radius: 50%;
} */