@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: merriweather-sans, sans-serif;
  font-weight: 300;
  color: #0C3C60;
}

/* heading and logo */

h1,
h2,
h3 {
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #0C3C60;
  padding-bottom: 20px;
}

h4 {
  font-family: raleway, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: #0C3C60;
  padding-bottom: 20px;
}

p {
  font-family: raleway, sans-serif;
  color: slategray;
  padding-bottom: 20px

}

/* ordered lists */
li {
  list-style-position: inside;
  font-family: raleway, sans-serif;
  color: slategray;
  padding-bottom: 20px;
}

/* logo */
#logo {
  font-size: 150%;
  float: left;
  margin-left: 40px;
}

/* navigation links */
#menu {
  font-size: 80%;
  letter-spacing: 6px;
  background-color: #fff;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

#menu,
#menu li {
  list-style-type: none;
  margin-right: 40px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border: 1px solid #85C5D4;
  padding: 10px;
}

.active {
  border: 1px solid #85C5D4;
  padding: 10px;
}

/* hero image */

#hero-image {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/polar-ice-caps-melting.jpg) no-repeat center center;
}

#hero-image-climate-justice {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/flooding-india.jpg) no-repeat center center;
}

#hero-image-oil-refinery {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/oil-refinery.jpg) no-repeat center center;
}

#hero-image-protest {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/protest) no-repeat center center;
}

#hero-image-hope {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/protest.jpg) no-repeat center center;
}

#hero-image-inspiration {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/after-forest-fire.jpg) no-repeat center center;
}

#hero-image-truth {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/after-forest-fire.jpg) no-repeat center center;
}

#hero-quote {
  font-size: 200%;
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align-last: center;

  width: 600px;
  height: 250px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(12, 60, 96, 255, .7);

  top: 80px;
  left: 650px;

  position: absolute;
}

/* home */

.introduction {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  background-color: white;
}

/* images home page */

.flex-grid-home {
  display: block;
  padding-left: 100px;
}

.col-home {
  float: left;
  width: 5%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



.awareness-six {
  padding-left: 100px;
  padding-right: 100px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}

.container {
  padding: 0px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #0C3C60;
  text-align: center;

}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  /* un sdg's */
}

#sdg {

  clear: both;
  line-height: 0;
  column-count: 5;
  column-gap: 0;
  margin: 0;
  padding: 0;
}

#sdg a {
  display: flex;
  flex: wrap;
  height: auto;
  width: auto;
  margin: none;
  padding: none;
  box-sizing: inherit;
}

#sdg img {
  width: 100%;
  height: 250px;
}


/* awareness pages */

#awareness-about {

  font-family: raleway, sans-serif;
  text-transform: uppercase;
  text-align-last: center;


  width: 1250px;
  height: 250px;

  border-bottom: 30px;

}

#awareness {
  padding-top: 30px;
  width: 16.6%;
  float: left
}




/* awareness pages */
/* awareness page styling */
.awarenes-layout-padding {
  padding-left: 150px;
  padding-right: 70px;
}

.awareness-columns {
  content: '';
  display: table;
  clear: both;
}

.awareness-about {
  padding-top: 30px;
  padding-left: 100px;
  width: 33%;
  float: left;
}

.global-solutions {
  padding-top: 30px;
  width: 66%;
  float: right;
}

#right-about {
  padding-top: 30px;
  width: 66%;
  padding-left: 50px;
  float: right;
}

#left-about {
  padding-top: 30px;
  padding-right: 150px;
  width: 33%;
  float: left;
}

/* ordered lists */
li {
  list-style-position: inside;
}

/* awareness image */
#awareness-image {
  height: 100px;
  width: 100%;
  padding-bottom: 250px;
  overflow: hidden;
  background: url(../images/awareness/waste-banner.jpg) no-repeat center center;

}




/* footer */

.emailSignup {
  display: block;
  background: #0C3C60;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

.emailSignup h2 {
  font-size: 32px;
  margin: 0 0 10px;
  color: #FFFFFF;
}

.emailSignup p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #D3D3D3;
}

.emailSignup form {
  text-align: center;
}

.emailSignup--email-input {
  border: 0;
  outline: 0;
  width: 50%;
  height: 46px;
  line-height: 46px;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
}

.emailSignup--email-submit {
  border: 0;
  width: 18%;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: bold;
  background: #85C5D4;
  color: #FFFFFF;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 1px #85C5D4;
}

.closeBox {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 9999px;
  cursor: pointer;
}

*/

/* climate justice */
.container-cj {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-template-rows: 1.9fr 1.1fr;
  gap: 20px 20px;
  grid-template-areas:
    "what facts"
    "action action";
}

.facts {
  grid-area: facts;
}

.what {
  grid-area: what;
}

.action {
  grid-area: action;
}

/* testing flex */

.flex-grid {
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.col {
  float: left;
  width: 16%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* footprint */
#nav {
  position: absolute;
  left: 0px;
  height: 40px;
  background-color: #2C64B4;
  width: 100%;
  margin: 0 auto;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav ul li {
  margin: 0;
  padding: 0;
  float: left;
}

#nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: #FFF;
  text-align: center;
}

/* .column-half {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */ */